.primary-btn{
    background-color: #fd743d;
    height: 48px;
    border-radius: 24px;
    color: #fff;
    border: none;
    font-weight: bold;
    margin: 8px 16px;
    padding: 16px;
}

.secondary-btn {
    background-color: #fd733d00;
    height: 48px;
    border-radius: 24px;
    color: #fd743d;
    border: #fd743d solid 2px;
    font-weight: bold;
    margin: 8px 16px;
    padding: 16px;
}