.add-new-brand-container{
    position: absolute;
    /* width: 100%;
    height: 100%;
    max-height: 100vh; */

    top: 0;
    left: 0;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 2px solid #ccc;
    background-color: rgba(255, 255, 255, 0.548);
}


.add-new-brand-container div{

    background-color: white;
    padding: 20px;
    border: 2px solid #ccc;
    border-radius: 8px;
}