.product-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 100%;
    padding: 0 16px;

    position: relative;
}

.product-container h2 {
    grid-column: span 4;
    text-align: center;
}

.product-grid {
    grid-column: span 4;
    padding: 16px 0;
    display: flex;
    flex-wrap: nowrap;
    gap: 16px;
    overflow-x: auto;
}
.product-grid::-webkit-scrollbar {
    display: none;
}

.product-card {
    padding: 16px;
    width: calc(50% - 8px);
    flex-shrink: 0;
    background-color: #ffffff49;
    border-radius: 8px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.133);
    text-align: center;
}

.product-card a {
    background-color: #fd743d;
    text-decoration: none;
    color: #fff;
    padding: 5px;
    margin-top: 20px;
    border-radius: 5px;
    justify-self: center;
    align-self: center;
}

.product-card img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 12px;
}

@media(min-width:600px) {

    .product-container {
        grid-template-columns: repeat(8, 1fr);
        width: 100%;
        padding: 0 32px;
    }

    .product-container h2 {
        grid-column: span 8;
    }

    .product-grid {
        grid-column: span 8;
    }

    .product-card {
        width: 200px;
        padding: 16px;
    }
}

@media(min-width:904px) {
    .product-container {
        grid-template-columns: repeat(12, 1fr);
        width: 840px;
        margin: auto;
        padding: 0;
    }

    .product-container h2 {
        grid-column: span 12;
    }

    .product-grid {
        grid-column: span 12;
    }
}

@media(min-width:1240px) {
    .product-container {
        width: 100%;
        padding: 0 200px;
        margin: 0;
    }
}

@media(min-width:1440px) {
    .product-container {
        width: 1040px;
        margin: auto;
        padding: 0;
    }
}