.register-page {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.register-form-container {
    display: flex;
    flex-direction: column;
    gap: 24px;
    justify-content: start;
    width: 80%;
}

.register-page h1 {
    margin: 0;
    padding: 0;
    text-align: center;
}
.eceylon-logo {
    text-decoration: none;
    color: #fd743d;
    font-weight: bold;
    border-bottom: #fd743d solid 2px;
}

.register-form {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.register-page h2 {
    margin: 0;
    padding: 0;
    background-color: none;
    text-align: center;
}

.register-form input {
    width: 100%;
    border: #00000097 solid 2px;
    border-radius: 16px;
    padding: 8px 16px;

    font-size: 16px;
    font-weight: normal;
}

.user-name-input {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.password-input {
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.retype-password-info {
    margin: 4px 0 0 0;
    list-style-position: inside;
    padding: 0 16px;
    font-size: 12px;
    font-weight: bold;
    color: red;
}
.retype-password-info li {
    padding: 0;
    margin: 0;
}

.register-btn-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.register-btn {
    border: none;
    background-color: #fd743d;
    color: #fff;
    font-size: 16px;
    font-weight: normal;
    padding: 8px 16px;
    border-radius: 16px;
    cursor: pointer;
}

.register-pg-login-link {
    align-self: center;
}


@media(min-width:600px) {
    .register-form-container {
        width: 65%;
    }
}

@media(min-width:904px) {
    .register-form-container {
         background-color: #e8e8e832;
         border: #fff solid 2px;
        padding: 24px;
        max-width: 600px;
        border-radius: 16px;
        gap: 32px;
    }

    .user-name-input {
        display: flex;
        flex-direction: row;
        gap: 16px;
    }

    .password-input {
        display: flex;
        flex-direction: row;
        gap: 16px;
    }

    .password-input div {
        flex-grow: 1;
    }

    .register-form {
        gap: 24px;
    }

    .register-btn-container {
        display: flex;
        flex-direction: row;
        gap: 24px;
    }

    .register-btn {
        padding: 8px 32px;
    }
}

@media(min-width:1240px) {}

@media(min-width:1440px) {}