.login-page {
    width: 100%;
    min-height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.login-container {
    flex-shrink: 0;
    flex-grow: 1;
    padding: 24px;
    border-radius: 16px;
}


.login-page-heading {
    margin-bottom: 24px;
    display: flex;
    justify-content: center;
}

.login-page-logo-link {
    text-decoration: none;
    color: #fd743d;
    border-bottom: #fd743d solid 2px;
}

.login-page-form {
    display: flex;
    flex-direction: column;
    margin: 0;
    gap: 16px;
}

.login-page-form h2 {
    text-align: center;
    margin: 0;
}

#username,
#password {
    padding-left: 8px;
    height: 48px;
    width: 100%;
    border: #626161 solid 2px;
    border-radius: 8px;
    font-size: medium;
    font-weight: bold;
}

.login-page-form button {
    background-color: #fd743d;
    width: 100%;
    height: 48px;
    border: none;
    border-radius: 24px;
    color: #fff;
    font-size: medium;
    font-weight: bold;

}

.login-remember-me {
    display: flex;
    gap: 8px;
    align-items: center;
    justify-content: flex-start;
    padding-left: 8px;
}

.login-page-register-container {
    margin: 0;
    padding: 0;
    display: flex;
    gap: 16px;
    align-items: center;
    justify-content: flex-start;
}

.login-page-register-container a {
    padding: 4px 16px;
}

.loging-pg-register-btn {
    text-decoration: none;
    color: #fd743d;
    border: #fd743d solid 2px;
    border-radius: 8px;
}

@media(min-width:600px) {
    .login-container {
        flex-shrink: 1;
        flex-grow: 0;
        border: #fff solid 2px;
        padding: 24px;
        border-radius: 16px;
        background-color: #e8e8e832;
    }

    .login-page-form {
        width: 400px;
        justify-self: center;
    }
}

@media(min-width:904px) {}

@media(min-width:1240px) {}

@media(min-width:1440px) {}