.login-page {
    width: 100%;
    min-height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.login-container {
    width: 100%;
    max-width: 400px;
    padding: 32px;

    display: flex;
    flex-direction: column;
    gap: 24px;
}

.login-page-heading {
    margin-bottom: 0;
    text-align: center;
}
.login-page-logo-link {
    text-decoration: none;
    color: #fd743d;
    border-bottom: #fd743d solid 4px;
}

.login-page-form {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.login-page-form h2 {
    text-align: center;
    margin: 0;
}

.username-container input {
    font-size: 16px;
    padding: 8px 16px;
    width: 100%;
    border: #626161 solid 2px;
    border-radius: 16px;
    font-weight: normal;
}

.password-container input {
    font-size: 16px;
    padding: 8px 16px;
    width: 100%;
    border: #626161 solid 2px;
    border-radius: 16px;
    font-weight: normal;
}

.login-page-form button {
    background-color: #fd743d;
    width: 100%;
    border: none;
    border-radius: 16px;
    color: #fff;
    font-size: 16px;
    padding: 8px 16px;
    font-weight: bolder;
}

.login-remember-me {
    display: flex;
    gap: 8px;
    align-items: center;
    justify-content: flex-start;
    padding-left: 16px;
}

.login-page-register-container {
    display: flex;
    gap: 8px;
    align-items: center;
    justify-content: flex-start;
}
.forget-password-btn {
    font-size: 16px;
}
.loging-pg-register-btn {
    font-size: 16px;
    padding: 8px 16px;
    text-decoration: none;
    color: #fd743d;
    border: #fd743d solid 2px;
    border-radius: 16px;
}

@media(min-width:600px) {
    .login-container {
        border: #fff solid 2px;
        border-radius: 16px;
        background-color: #e8e8e832;
    }

}

@media(min-width:904px) {}

@media(min-width:1240px) {}

@media(min-width:1440px) {}