.introduce-new-product {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.introduce-new-product h1 {
    padding: 0;
    margin: 0;
}

.new-prod-basic-info {
    display: flex;
    flex-direction: column;
    gap: 16px;
    /* justify-content: space-between; */
}

.new-prod-basic-info div {
    display: flex;
    flex-direction: column;
    gap: 8px;
    justify-content: space-between;
    /* align-items: center; */
}

.new-prod-basic-info input {  
    font-size: 16px;
    line-height: 1.5;
    padding: 8px 16px;
    border: 2px solid #ccc;
    border-radius: 8px;

}

.new-prod-basic-info p { 
    font-size: 12px;
    line-height: 1.2;
    padding: 4px 16px;
    color: #666;

}

.new-prod-basic-info button{
    font-size: 16px;
    line-height: 1.5;
    padding: 8px 32px;
    border: 2px solid #ccc;
    border-radius: 16px;} 



.new-prod-description textarea {
    width: 100%;
    height: 50px;
    padding: 12px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
    resize: none;
}



@media(min-width:600px) {

}

@media(min-width:904px) {
    .new-prod-basic-info{
        display: grid;
        grid-template-columns:  repeat(2, 1fr);
    }

    .intro-new-prod-name{
        grid-column: span 2;
    }   

    .search-select-option-container{
        grid-column: span 1;
        align-self: start;
    }
    .new-prod-description{
        grid-column: span 2;    
    }
    .new-prod-basic-info button{
        grid-column: span 2;
        justify-self: start;
    }

}

@media(min-width:1240px) {}

@media(min-width:1440px) {}