

.new-prod-basic-info-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: #00000018;
    /* border: #000 solid 2px; */
    margin: 24px;
    border-radius: 24px;
    padding: 24px;
}

.product-name{
    grid-column: span 2;

    /* background-color: #fd733d69; */
    color:#fff;
    /* padding: 24px; */
    margin-bottom: 24px;

    font-size: larger;
    font-weight: bolder;
}
.product-brand{
    grid-column: span 1;
}
.product-category{
    grid-column: span 1;
}
.product-description{
    grid-column: span 2;
}
.product-info-btn-container{
    grid-column: span 2;
    display: flex;
    gap: 8px;
    justify-content: flex-end;
}

.product-info-btn-container button{
    padding: 8px 16px;
    border-radius: 8px;

}

.product-info-btn-container .edit-btn{
    border: #fd743d solid 2px;
    background-color: #ffffff00;
    color: #fd743d;
    font-weight: bold;
}

.product-info-btn-container .delete{
    border: none;
    background-color:#c70000;
    color:#fff;
    font-weight: bold;
}

