
.spec-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.spec-name{
    grid-column: span 1;
}

.spec-description{
    grid-column: span 3;
    /* border: #000 solid 3px; */
}

@media(min-width:600px) {

}

@media(min-width:904px) {
}

@media(min-width:1240px) {
}

@media(min-width:1440px) {
}
