* {
    font-family: Arial, sans-serif;
    background-color: #fff;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    margin: 32px 0;
    display: flex;
    justify-content: center;
}

.logo-link-h1 {
    text-decoration: none;
    color: #fd743d;
    border-bottom: #fd743d solid 2px;
}

.login-form {
    display: flex;
    flex-direction: column;
    margin: 32px 16px;
    gap: 16px;
}

.login-form h2 {
    text-align: center;
}

#username,
#password {
    padding-left: 8px;
    height: 48px;
    /* min-width: 268px; */
    width: 100%;
    border: #626161 solid 2px;
    border-radius: 8px;
    font-size: medium;
    font-weight: bold;
}

.login-form button {
    background-color: #fd743d;
    /* min-width: 268px; */
    width: 100%;
    height: 48px;
    border: none;
    border-radius: 24px;
    color: #fff;
    font-size: medium;
    font-weight: bold;

}

.login-remember-me {
    display: flex;
    gap: 8px;
    align-items: center;
    justify-content: flex-start;
    padding-left: 8px;
}

.login-register-pasword {
    margin: 0 16px;
    padding: 0 8px;
    display: flex;
    gap: 32px;
    align-items: center;
    /* border: #fd743d solid 2px; */
}

.login-register-pasword a {
    padding: 4px;
}

.register-btn {
    text-decoration: none;
    color: #fd743d;
    border: #fd743d solid 2px;
    border-radius: 4px;
}
/* .forget-password-btn{
    text-decoration-line: underline;
} */



@media (min-width:0px) {}

@media(min-width:600px) {
    .login-form {
        /* max-width: 500px; */
        width: 400px;

        /* border: #fd743d solid 2px; */
        justify-self: center;
    }

    .login-register-pasword {

        width: 400px;
        display: flex;
        /* max-width: 500px; */
        justify-self: center;
        /* border: #fd743d solid 2px; */
    }
}

@media(min-width:904px) {
    h1 {
    margin-top:48px;
}
    
}

@media(min-width:1240px) {
     h1 {
    margin-top:64px;
}
}

@media(min-width:1440px) {
        h1 {
    margin-top:128px;
}
}