.quantity-container {
    display: flex;
    flex-direction: row;
    gap: 0;
    align-items: center;
    justify-content: center;
    /* margin: 8px 16px; */
    /* border: #000 solid 2px; */
    margin-right: 16px;
}

.quantity-input {
    width: 32px;
    height: 32px;
    text-align: center;
    font-weight: bolder;
    background-color: #fd733d00;
    border: #000 solid 2px;
}

.quantity-up-btn {
     width: 32px;
    height: 32px;
    background-color: #fd733d00;
    color: #fd743d;
    /* border: #fd743d solid 2px; */
    border: none;
    font-weight: bold;
    border-radius: 16px;
    /* padding: 8px; */
}

.quantity-down-btn {
     width: 32px;
    height: 32px;
    background-color: #fd733d00;
    color: #fd743d;
    /* border: #fd743d solid 2px; */
    border: none;
    font-weight: bold;
    border-radius: 16px;
    /* padding: 16px; */
}
