/* footer container*/
.footer-container {
    display: grid;
     grid-template-columns: repeat(4, 1fr);
    width: 100%;
    background-color: #19183B;
    color: #fff;
    padding: 24px 0;
    margin-top: 20px;
}

.browse-more {
    grid-column: span 4;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-self: center;
}

.find-more {
    grid-column: span 4;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-self: center;
}

.social-media {
    grid-column: span 4;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-self: center;
    text-align: start;
}

.footer-container a {
    text-decoration: none;
    color: #fff;
    margin: 10px;
}

.social-media a {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 10px;
}

.footer-container h3 {
    border-bottom: #f7f7fe solid 2px;
    margin: 10px;
}

.social-media img {
    width: 24px;
}

.copy-right {
    grid-column: span 4;
    width: 100%;
    margin-top: 20px;
    justify-self: center;
    text-align: center;
}

.copy-right hr {
    width: 75%;
    color: #fff;
    margin: 10px auto;
}

a.logo-footer {
    color: #fd743d;
    font-weight: bolder;
    font-size: 36px;
    border-bottom: #fd743d solid 3px;
    align-self: flex-start;
}


@media(min-width:600px) {
 

    /* footer container*/
    .footer-container {
        grid-template-columns: repeat(12, 1fr);
    }

    .browse-more {
        grid-column: span 4;
    }

    .find-more {
        grid-column: span 4;
    }

    .social-media {
        grid-column: span 4;
        ;
    }

    .copy-right {
        grid-column: span 12;
    }

    .copy-right hr {
        width: 50%;
    }

}

@media(min-width:904px) {
  

    /* footer container*/
    .footer-container {
        grid-template-columns: repeat(12, 1fr);
    }

    .browse-more {
        grid-column: span 4;
    }

    .find-more {
        grid-column: span 4;
    }

    .social-media {
        grid-column: span 4;
    }

    .social-media img {
        width: 24px;
    }

    .copy-right {
        grid-column: span 12;
    }
}

@media(min-width:1240px) {
   
}

@media(min-width:1440px) {

    
}