.prod-img-input-heading{
    margin: 24px 24px 8px 24px;
}

.prod-img-input-container{
    margin: 8px 24px 24px 24px;
}

.prod-img-upload-btn{
    margin-top: 8px;
    padding: 8px 16px;
    background-color: #fd743d;
    border: none;
    border-radius: 8px;
    color: #fff;
    font-weight: bold;
}