.product-images{
    display: flex;
}

.prod-img{
    width:100px;
    height: 100px;
    border: #00000085 solid 2px;
    position: relative;
    display: flex;
    border-radius: 8px;

}
.delete-btn{
    margin:0;
    padding:0;
    border: none;
    position: absolute;
    top:0;
    right: 0;
   
}

.product-images img{
    margin: auto;
    justify-self: center;
    width:80%;
    /* height: 100px; */
}

.add-prod-img-btn{
    width:80%;
    /* height: 80%; */
}