.prod-img-galary-heading{
    margin:24px 0 0 24px;
}
.prod-img-grid-container{
    margin: 8px 24px 24px 24px;
    display: flex;
    gap:8px;
}

.prod-img{
    width:100px;
    height: 100px;
    border: #00000085 solid 2px;
    position: relative;
    display: flex;
    border-radius: 8px;
}
.prod-img-delete-btn{
    width: 24px;
    height: 24px;
    border:  #c70000 solid 1px;
    border-radius: 4px;
     background-color: #c7000000;
    color: #c70000;
    font-weight: bold;
    
    margin:4px;
    position: absolute;
    top:0;
    right: 0;
}

.prod-img img{
    margin: auto;
    justify-self: center;
    width:80%;
}

.prod-img-add-btn{
    width:100px;
    height: 100px;
    background-color: #00000000;
    font-size: 24px;
    border: #00000085 solid 2px;
    border-radius: 8px;
}