.about-us-container {
    display: grid;
     grid-template-columns: repeat(4, 1fr);
    width: 100%;
    padding: 0 16px;
    gap: 0;
}
.about-us-container img {
    grid-column: span 4;
    width: 100%;
}

.about-us-text {
    grid-column: span 4;
    text-align: center;
}


.about-us-container h2 {
    text-align: center;
}

.about-us-container h3 {
    width: 90%;
    justify-self: center;
    align-self: center;
    text-align: center;
}

.about-us-container img {
    width: 100%;
    text-align: center;/
}


@media(min-width:600px) {
    .about-us-container {
        display: grid;
        grid-template-columns: repeat(8, 1fr);
        width: 100%;
        padding: 0 32px;
    }

    .about-us-container h2 {
        grid-column: span 8;
        text-align: center;
    }

    .about-us-text {
        grid-column: span 8;
        width: 90%;
    }

    .about-us-container img {
        grid-column: span 8;
        width: 100%;
        text-align: center;
    }
}

@media(min-width:904px) {
    .about-us-container {
        grid-template-columns: repeat(12, 1fr);
        width: 840px;
        margin: auto;
        padding: 0;
    }

    .about-us-text {
        grid-column: span 6;
        align-self: center;
    }

    .about-us-container img {
        grid-column: span 6;
    }
}

@media(min-width:1240px) {
    .about-us-container {
        width: 100%;
        padding: 0 200px;
        margin: 0;
    }
}

@media(min-width:1440px) {
    .about-us-container {
        width: 1040px;
        margin: auto;
        padding: 0;
    }
}