*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color:  #fd733d31;
}

.primary-clr{
    color: #fd743d;
}

.secondary-clr{
    color: #19183B;

}


