*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f7eae4;
    color: #333;
    line-height: 1.6;
}

.primary-clr{
    color: #fd743d;
}

.secondary-clr{
    color: #19183B;

}


