 .search-select-option-container{
    position: relative;
 }
  
 .suggestion-list {
    position: absolute;
     list-style: none;
     padding: 0;
     margin: 0;
     border: 1px solid #ddd;
     
     top: 100%;
     background-color: white;
     width: 100%;
     max-height: 200px;
     overflow-y: auto;
     z-index: 100;
 }

 .suggestion-list li {
     padding: 8px 10px;
     cursor: pointer;
 }

 .suggestion-list li:hover {
     background-color: #f1f1f1;
 }
