 .autocomplete-container {
     position: relative;
     display: inline-block;
 }

 .suggestions-list {
     list-style: none;
     padding: 0;
     margin: 0;
     border: 1px solid #ddd;
     position: absolute;
     background-color: white;
     width: 100%;
     max-height: 200px;
     overflow-y: auto;
     z-index: 100;
 }

 .suggestions-list li {
     padding: 8px 10px;
     cursor: pointer;
 }

 .suggestions-list li:hover {
     background-color: #f1f1f1;
 }

 .hide {
     display: none;
 }

 .show{
    display: block;
 }