.product-add-page {
    width: 100%;
    margin: 0;
    padding: 0 16px;
}


@media(min-width:600px) {
    .product-add-page {
        width: 100%;
        margin: 0;
        padding: 0 32px;
    }
}

@media(min-width:904px) {
    .product-add-page {
        width: 840px;
        margin: auto;
        padding: 0;
    }
}

@media(min-width:1240px) {
    .product-add-page {
        width: 100%;
        margin: 0;
        padding: 0 200px;
    }
}

@media(min-width:1440px) {
    .product-add-page {
        width: 1040px;
        margin: auto;
        padding: 0;
    }
}